.destacados {
    background-color:#DFE3F5;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.destacados__titulo {
    font-family: var(--montserrat);
    text-align: center;
    color: dimgrey;
    font-size:24px;
    margin-bottom: 30px;
    color: #4F4C4C;
    font-weight: bold
    
}

.destacados__panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.destacados__panel-imagen {
    width: 100vw;
    max-width: 600px;
    box-shadow: 0 2px 10px 5px #00000020;
    margin-bottom: .5rem;

    
}

.destacados__panel-texto {

    font-size: 19px;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;



   

}

.destacados__boton {
    color: var(--boton-rojo);
    border-color: var(--boton-rojo);
    margin: 0 auto;
    border: 1px solid #B72E2E;
    border-radius: 5px;
    font-weight: bold;

}