.footer {
    display: flex;
    flex-direction: column;

    background-color: var(--background-footer);

    padding-top: 2.5rem;
    padding-bottom: 2rem;
    margin-bottom: 20px;
    box-sizing: border-box;

}

.footer__social {
    display: flex;
    align-self: flex-end;
}

.footer__midia {
    display: flex;
    margin-bottom: 6rem;
    flex-direction: row;
    align-items: center;


    margin: 2rem 1rem;
}

.footer__navegacion {
    color: var(--background-blanco);
    font: var(--open-sans);
    text-align: left;
    line-height: ;
    margin-bottom: 20px;
    align-items: flex-start;


    font-size: 1.1rem;
    display: inline-block;
    margin-right: .7rem;
    margin-bottom: .7rem;
    margin-left: .7rem;


}


.footer__enlace {
    display: inline-block;

    margin: 0 .5rem .7rem;
}

.footer_logo {
    display: flex;
    width: 142px;
    height: 142px;
    left: 50px;
    top:3391px;


}


.footer_container {
    margin-bottom: 6rem;


}
