.head {
    color: var(--background-blanco);
    
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: .75rem;
    padding-bottom: .75rem;
    position: absolute;
}

.head__logo {
    display: flex;
    align-self: flex-start;
}

.head__navegacion {
 

}

.head__enlace {
    font-size: 1.1rem;
    display: inline-block;

 

    margin-right: .7rem;
    margin-bottom: .7rem;
    margin-left: .7rem;
}
